* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* loading.php */
/* https://uiverse.io/pradipkaityuiux/mean-yak-69 */

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 150px;
  height: 150px;
  background: transparent;
  border: 3px solid rgba(0, 102, 255, 0.1);
  border-radius: 50%;
  text-align: center;
  line-height: 150px;
  font-family: sans-serif;
  font-size: 20px;
  color: #025373;
  letter-spacing: 2px;
  text-shadow: 0 0 10px #025373;
  box-shadow: 0 0 20px rgba(0, 0, 0, .15);
}

.loader::before {
  content: '';
  position: absolute;
  top: -3px;
  left: -3px;
  width: 100%;
  height: 100%;
  border: 3px solid transparent;
  border-top: 3px solid #025373;
  border-right: 3px solid #025373;
  border-radius: 50%;
  animation: animateC 2s linear infinite;
}

.loader span {
  display: block;
  position: absolute;
  top: calc(50% - 2px);
  left: 50%;
  width: 50%;
  height: 4px;
  background: transparent;
  transform-origin: left;
  animation: animate 2s linear infinite;
}

.loader span::before {
  content: '';
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #025373;
  top: -6px;
  right: -8px;
  box-shadow: 0 0 20px 5px #025373;
}

@keyframes animateC {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate {
  0% {
    transform: rotate(45deg);
  }

  100% {
    transform: rotate(405deg);
  }
}



/* protect.php */

.tela_protect {
    background-color: #F2F2F2;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
    border: 2px solid #011640;
    padding: 40px;
    text-align: center;
    width: 800px;
    margin: auto;
    margin-top: 50px;
}
  
.informacoes_protect {
    flex-direction: column;
    align-items: center;
}
  
.botao_protect button{
    font-family: unset;
    background-color: #025373;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
}
  
.botao_protect button:hover {
    background-color: #011640;
}